/* Fuente para la web */
@font-face{
	font-family: 'Quicksand-VariableFont_wght';
	src:url('../font/Quicksand-VariableFont_wght.ttf');
}
/*------ Para toda la pagina ---------*/
*{
	font-family: 'Quicksand-VariableFont_wght';
}

body{
	margin-top: 0px;
	margin-left: auto;
  	margin-right: auto;
	width: 90%;
}

.container{
	width: 90%;
	background: #fafafa;
	margin: auto;
}


/*------- Estilos del menu principal ---*/
.header{
	padding-top: 50px;
}

.nav ul li {
    background-color:#EEEEEE;

}
.nav {
	float: right;
	margin-top: 10px;

}
.nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

.nav ul a {
    display:block;
    text-decoration:none;
    font-weight:400;
    font-size:20px;
    padding:20px;
    color: #757575;
    text-transform: uppercase;
}

.nav ul li {
    float:left;
    margin:0;
    padding:0;
}

.nav ul.first:first-child{
	border-radius: 50px;
}

.nav ul li:hover {
    background: #212121;
}

.nav ul li a:hover {
    color: white;
}

.nav ul:hover {
    color: white;
}


.nav ul ul {
    display:none;
    position: absolute;
   
}

.nav ul ul li {
    float:none;
   
}

.nav ul ul a {
    display: block;
    padding: 17px;
}

.nav ul li:hover > ul {
    display:block;
}

.inicio{
	border-radius: 20px 0px 0px 0px;
}
.contacto{
	border-radius: 0px 20px 0px 0px;
}
/*------------ Estilo imagen de portada grande ----------*/

.full-width {
	
	width: 100%;
	height: 700px;
	border-radius: 50px 0px 50px 0px;	
	/*
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: absolute;
	right: 50%;
	width: 100vw;
	*/
	
}
/*----------------------------------------*/

.productos h1{
	text-align: center;
}


/*--------- Tres columnas  --------*/

.row{
	text-align: center;
	display: inline-flex;
}

.col p{
	margin-bottom: 30px;
}

.col{
	width: 33%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 20px;
	border-radius: 35px;
	border: 2px solid #EEEEEE;
	margin: 40px; 
}

.col a{
	margin-top: 20px;
	color: #757575;
	text-decoration: none;
	background: #EEEEEE;	
	padding: 10px 40px;
	border-radius: 15px;
}

.col a:hover{
	background: #212121;
	color: white;
}

/*------------ TABLA ----------------*/

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

table
{
    margin: 10px 0;
    width: 100%;
}

table, th, td {
  border: 2px solid #6d6d6d;
  border-collapse: collapse;
}
th, td {
  padding: 50px;
  text-align: left;
  text-align: center;
}

.tablaBotones:hover{
	background: #CFD8DC;
	color: white;
	cursor: pointer;
}

.tarifas tr:nth-child(even) {
  background-color: #eee;
}

.tarifas tr:nth-child(odd) {
 background-color: #fff;
}

.tarifas th {
  background-color: #8d8d8d;
  color: white;
}

/*------------ Videos  --------------*/

.videos{
	
	display: inline-flex;
}

.video{
	height: 200px;
	width: 50%;
	text-align: center;
	padding: 20px;
	margin: 40px; 
}

.parrafo{
	height: 200px;
	width: 50%;
	text-align: center;
	padding: 20px;
	border-radius: 35px 35px 35px 0px;
	border: 2px solid #bdbdbd;
	margin: 40px; 
}

.parrafo1{
	height: 200px;
	width: 50%;
	text-align: center;
	padding: 20px;
	border-radius: 35px 0px 35px 35px;
	border: 2px solid #bdbdbd;
	margin: 40px; 
}


/*------------ Pie de pagina -----------*/

.footer{
	
	display: inline-flex;
	position: absolute;
	width: 100%;
	left: 0px;
	background: #8d8d8d;
}

.formulario{
	height: 350px;
	width: 25%;
	text-align: center;
	padding: 10px;
	border-radius: 15px;
	border: 2px solid #bdbdbd;
	margin: 40px 0px 20px 250px; 
}
.redes{
	height: 200px;
	width: 10%;
	padding: 20px 0px 20px 70px;
	margin: 100px 0px 20px 0px; 
	position: relative;
}
.redes ul {
    list-style:none;
}
.mapa{
	height: 350px;
	width: 55%;
	text-align: center;
	padding: 10px 0px 0px 0px;
	margin: 10px 40px 40px 0px; 
}

input[type=submit] {
	background: #212121;
    color: white;   
}
input[type=submit]:hover {
  background:#EEEEEE;
   color: #757575;
}